@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#YES {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ccc, #769fcd, #2196f3);

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}

div {
  transition: all 300ms ease;
}

button {
  transition: all 300ms ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: #f7fbfc;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  border-radius: 5px;
  border: 1px solid black;
}

.container {
  color: #769fcd;
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}

.weather__header {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 20px;
}

input {
  border: none;
  background: #06283d;
  outline: none;
  color: #fff;
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
  height: 3rem;
  margin-right: 10px;
}

input::placeholder {
  color: #fff;
}

.weather__search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.weather__search button {
  font-size: 15px;
  color: #fff;
  background-color: #06283d;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

.weather__units {
  font-size: 1.5rem;
}

.weather__city,
.weather__datetime {
  border-radius: 10px;
  padding: 10px;
}
.weather__units span {
  cursor: pointer;
}

.weather__units span:first-child {
  margin-right: 0.5rem;
}

.weather__body {
  text-align: center;
  margin-top: 3rem;
}

.weather__datetime {
  margin-bottom: 2rem;
  font-size: 14px;
}

.weather__forecast {
  background: #06283d;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.weather__icon img {
  width: 85px;
  background-color: #06283d;
  border-radius: 50px;
  margin-top: 9px;
  margin-bottom: 7px;
}

.weather__temperature {
  font-size: 1.75rem;
}

.weather__minmax {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather__minmax p {
  font-size: 17px;
  margin: 0.5rem;
  margin-top: 3rem;
}

.weather__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
  height: 7rem;
}

.weather__card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #06283d;
  padding: 1rem;
  border-radius: 5px;
}

.weather__card i {
  font-size: 2rem;
  margin-right: 1rem;
}

.weather__card p {
  font-size: 18px;
}

.weather__card:hover {
  transition: all 300ms ease;
  transform: scale(1.05);
}

footer p {
  text-align: center;
  font-size: 12px;
}

a {
  color: #769fcd;
}

hr {
  width: 500px;
  margin: auto;
  border: 1px solid #769fcd;
}

#preloader {
  background: #06283d;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.weather__searchform:focus + #animate__button {
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transform: scale(1.1);
  border: 2px solid #769fcd;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
  margin-top: 6px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #06283d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 936px) {
  .container {
    width: 90%;
  }

  .weather__units {
    margin-top: 1rem;
  }
  .weather__header {
    justify-content: center;
    margin-right: 0px;
  }
  input {
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .weather__search button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media (max-width: 390px) {
  .weather__card p {
    font-size: 15px;
  }
  body {
    margin: 0;
  }
  .weather__header {
    margin-top: 25px;
  }
  .weather__header input {
    font-size: 15px;
  }
  .weather__info {
    grid-template-columns: auto;
    margin-bottom: 120px;
    justify-content: center;
  }
  .weather__card {
    justify-content: space-evenly;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .weather__card i {
    font-size: 1.5rem;
  }
  footer p {
    font-size: 10px;
  }
  .weather__city,
  .weather__datetime {
    background-color: #f7fbfc;
  }
  hr {
    width: 300px;
  }
  .weather__searchform:focus + #animate__button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1.5px solid #769fcd;
  }
}

@media (max-width: 400) {
  .weather__info {
    grid-template-columns: none;
  }
}
